model/eng_swa_model/config.json
model/eng_swa_model/generation_config.json
model/eng_swa_model/pytorch_model.bin
model/eng_swa_model/source.spm
model/eng_swa_model/special_tokens_map.json
model/eng_swa_model/target.spm
model/eng_swa_model/tokenizer_config.json
model/eng_swa_model/vocab.json
venv
model/swa_eng_model/config.json
model/swa_eng_model/generatconfig.json
model/swa_eng_model/pytorch_model
model/swa_eng_model/source
model/swa_eng_model/speciakens_map.json
model/swa_eng_model/target
model/swa_eng_model/tokeniconfig.json
model/swa_eng_model/vocab.

